<head>
    <title>Taunton Festival of the Arts&nbsp;|&nbsp;{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="{{ '/css/ie7.css' | prepend: site.github.url }}" media="screen">
    <![endif]-->
    <!--[if lte IE 6]>
        <script type="text/javascript" src="{{ '/js/pngfix.js' | prepend: site.github.url }}></script>
        <script type="text/javascript" src="{{ '/js/ie6.js' | prepend: site.github.url }}></script>
        <link rel="stylesheet" href="{{ '/css/ie6.css' | prepend: site.github.url }} type="text/css">
    <![endif]-->
    <link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css'  href='{{ '/css/dashicons.min.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='{{ '/css/contact-form/style.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-lightbox-swipebox-css'  href='{{ '/css/swipebox/swipebox.min.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='easy_table_style-css'  href='{{ '/css/easy-table/style.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='event-list-css'  href='{{ '/css/event-list/event-list.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='stylesheet-css'  href='{{ '/css/style.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='nivo-style-css'  href='{{ '/css/slider/nivo-slider.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='nivo-default-css'  href='{{ '/css/slider/default/default.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='medialelemets-css'  href='{{ '/mediaelement/mediaelementplayer.css' | prepend: site.github.url }}' type='text/css' media='all' />
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47882533-1']);
        _gaq.push(['_gat._forceSSL']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type='text/javascript' src='{{ '/js/jquery.js' | prepend: site.github.url }}'></script>
    <script type='text/javascript' src='{{ '/js/jquery-migrate.min.js' | prepend: site.github.url }}'></script>
    <script type='text/javascript' src='{{ '/js/swipebox/jquery.swipebox.min.js' | prepend: site.github.url }}'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var rlArgs = {"script":"swipebox","selector":"lightbox","customEvents":"","activeGalleries":"1","animation":"1","hideCloseButtonOnMobile":"0","removeBarsOnMobile":"0","hideBars":"1","hideBarsDelay":"5000","videoMaxWidth":"1080","useSVG":"1","loopAtEnd":"0"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='{{ '/js/swipebox/front.js' | prepend: site.github.url }}'></script>
    <script type='text/javascript' src='{{ '/js/jquery.nivo.slider.pack.js' | prepend: site.github.url }}'></script>
    <script type='text/javascript' src='{{ '/js/main.js' | prepend: site.github.url }}'></script>
    <script type='text/javascript' src='{{ '/mediaelement/mediaelement-and-player.min.js' | prepend: site.github.url }}'></script>
    <link rel="canonical" href="http://www.tauntonfestival.org.uk/" />
    <link rel='shortlink' href='http://www.tauntonfestival.org.uk/' />
    <link href="{{ '/css/styles/orange.css' | prepend: site.github.url }}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.github.url }}"/>
</head>