        <nav id="navigation">
            <section class="box">
                <section class="style-select">
                <ul id="header-menu-links" class="menu">
                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-20"><a href="http://www.tauntonfestival.org.uk/">Home</a></li>
                    <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href="http://www.tauntonfestival.org.uk/category/news/">News</a></li>
                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21"><a href="http://www.tauntonfestival.org.uk/about-the-festival/">About the Festival</a>
                    <ul class="sub-menu">
                        <li id="menu-item-958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-958"><a href="http://www.tauntonfestival.org.uk/about-the-festival/syllabus/">Syllabus and Handbook</a></li>
                        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://www.tauntonfestival.org.uk/about-the-festival/committee/">Committee</a></li>
                        <li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href="http://www.tauntonfestival.org.uk/about-the-festival/register/">Friends and Benefactors</a></li>
                        <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="http://www.tauntonfestival.org.uk/about-the-festival/sponsors/">Sponsors</a></li>
                        <li id="menu-item-781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-781"><a href="http://www.tauntonfestival.org.uk/opportunities-for-advertisers/">Opportunities for Advertisers</a></li>
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="http://www.tauntonfestival.org.uk/about-the-festival/patrons-of-the-festival/">Patrons of the Festival</a></li>
                        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="http://www.tauntonfestival.org.uk/about-the-festival/child-protection-policy/">Child Protection Policy</a></li>
                        <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="http://www.tauntonfestival.org.uk/about-the-festival/history-of-the-festival/">History of the Festival</a></li>
                        <li id="menu-item-1535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1535"><a href="http://www.tauntonfestival.org.uk/online-payment-for-applications/">Online Payment</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href="http://www.tauntonfestival.org.uk/events/">Events</a>
                    <ul class="sub-menu">
                        <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="http://www.tauntonfestival.org.uk/events/event-calendar/">Event Calendar</a></li>
                        <li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-590"><a href="http://www.tauntonfestival.org.uk/events/music-festival/">Music Festival</a></li>
                        <li id="menu-item-662" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-662"><a href="http://www.tauntonfestival.org.uk/events/drama-festival/">Drama Festival</a></li>
                        <li id="menu-item-573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-573"><a href="http://www.tauntonfestival.org.uk/events/dance-festival/">Dance Festival</a></li>
                        <li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href="http://www.tauntonfestival.org.uk/events/film-festival/">Film Festival</a></li>
                        <li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-470"><a href="http://www.tauntonfestival.org.uk/events/centenary-celebrations/">Centenary Celebrations 2013</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="http://www.tauntonfestival.org.uk/reports/">Reports</a></li>
                    <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href="http://www.tauntonfestival.org.uk/contact-us/">Contact Us</a></li>
                </ul>        
                </section>
            </section>
        </nav>