                <aside id="rightcol">
                    <section id="custom-recent-posts-2" class="widget widget_recent_entries">
                        <h4>Recent News</h4>
                        <ul>
                            <li class="crpw-item">
                            <a href={{ '/2016/04/drama-festival-report-now-in/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to Drama Festival Report now in!" class="crpw-title">Drama Festival Report now in!</a>
                            <span class="crpw-date">(April 20, 2016)</span>
                            </li>
                            <li class="crpw-item">
                            <a  href={{ '/2016/04/dance-festival-class-times-now-available/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to Dance Festival class times now available" class="crpw-title">Dance Festival class times now available</a>
                            <span class="crpw-date">(April 7, 2016)</span>
                            </li>
                            <li class="crpw-item">
                            <a  href={{ '/2016/04/more-music-and-drama-festival-results/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to More Music and Drama Festival results!" class="crpw-title">More Music and Drama Festival results!</a>
                            <span class="crpw-date">(April 5, 2016)</span>
                            </li>
                            <li class="crpw-item">
                            <a  href={{ '/2016/03/music-festival-results/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to Music Festival Results!" class="crpw-title">Music Festival Results!</a>
                            <span class="crpw-date">(March 29, 2016)</span>
                            </li>
                            <li class="crpw-item">
                            <a  href={{ '/2016/02/taunton-junior-young-singer-competition-time-changed/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to Taunton Junior Young Singer competition time changed" class="crpw-title">Taunton Junior Young Singer competition time changed</a>
                            <span class="crpw-date">(February 11, 2016)</span>
                            </li>
                        </ul>
                    </section>
                    <section id="event_list_widget-2" class="widget widget_event_list_widget">
                        <h4>Upcoming events</h4>
                        <div class="event-list">
                            <p>no event</p>
                        </div>
                        <div style="clear:both">
                            <a title="View all upcoming events" href="/events/event-calendar">View all upcoming events</a>
                        </div>
                    </section>
                </aside>