    <footer id="footer">
        <section class="box">
            <span class="gray">&copy; Taunton Festival of the Arts. Registered Charity No. 900556</span>
            <ul id="footer-menu-links" class="menu">
                <li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-222"><a href={{ '/' | prepend: site.github.url }}>Home</a></li>
                <li id="menu-item-262" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-262"><a href={{ '/news/' | prepend: site.github.url }}>News</a></li>
                <li id="menu-item-263" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-263"><a href={{ '/about-the-festival/' | prepend: site.github.url }}>About the Festival</a></li>
                <li id="menu-item-265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-265"><a href={{ '/events/' | prepend: site.github.url }}>Events</a></li>
                <li id="menu-item-271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-271"><a href={{ '/reports/' | prepend: site.github.url }}>Reports</a></li>
                <li id="menu-item-264" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-264"><a href={{ '/contact-us/' | prepend: site.github.url }}>Contact Us</a></li>
            </ul>
            <div class="clear"></div>
        </section>
    </footer>