<footer class="center">
    <div class="measure">
        <h2>This site is under construction! Please see <a href="http://www.tauntonfestival.org.uk">http://www.tauntonfestival.org.uk</a> for our current site!</h2>
        <small>
            &copy; Taunton Festival of the Arts. Registered Charity No. 900556
        </small>
    </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
