        <nav id="navigation">
            <section class="box">
                <section class="style-select">
                <ul id="header-menu-links" class="menu">
                    <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-20"><a href={{ '/' | prepend: site.github.url }}>Home</a></li>
                    <li id="menu-item-113" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-113"><a href={{ '/news/' | prepend: site.github.url }}>News</a></li>
                    <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21"><a href={{ '/about-the-festival/' | prepend: site.github.url }}>About the Festival</a>
                    <ul class="sub-menu">
                        <li id="menu-item-958" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-958"><a href={{ '/about-the-festival/syllabus/' | prepend: site.github.url }}>Syllabus</a></li>
                        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href={{ '/about-the-festival/committee/' | prepend: site.github.url }}>Committee</a></li>
                        <li id="menu-item-701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href={{ '/about-the-festival/register/' | prepend: site.github.url }}>Friends and Benefactors</a></li>
                        <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href={{ '/about-the-festival/sponsors/' | prepend: site.github.url }}>Sponsors</a></li>
                        <li id="menu-item-781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-781"><a href={{ '/about-the-festival/opportunities-for-advertisers/' | prepend: site.github.url }}>Opportunities for Advertisers</a></li>
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href={{ '/about-the-festival/patrons-of-the-festival/' | prepend: site.github.url }}>Patrons of the Festival</a></li>
                        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href={{ '/about-the-festival/child-protection-policy/' | prepend: site.github.url }}>Child Protection Policy</a></li>
                        <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href={{ '/about-the-festival/history-of-the-festival/' | prepend: site.github.url }}>History of the Festival</a></li>
                        <li id="menu-item-1535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1535"><a href={{ '/about-the-festival/online-payment-for-applications/' | prepend: site.github.url }}>Online Payment</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-172"><a href={{ '/events/' | prepend: site.github.url }}>Events</a>
                    <ul class="sub-menu">
                        <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href={{ '/events/event-calendar/' | prepend: site.github.url }}>Event Calendar</a></li>
                        <li id="menu-item-590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-590"><a href={{ '/events/music-festival/' | prepend: site.github.url }}>Music Festival</a></li>
                        <li id="menu-item-662" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-662"><a href={{ '/events/drama-festival/' | prepend: site.github.url }}>Drama Festival</a></li>
                        <li id="menu-item-573" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-573"><a href={{ '/events/dance-festival/' | prepend: site.github.url }}>Dance Festival</a></li>
                        <li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619"><a href={{ '/events/film-festival/' | prepend: site.github.url }}>Film Festival</a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href={{ '/events/music-festival/somerset-song-prize/' | prepend: site.github.url }}>Somerset Song Prize</a></li>
                        <li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-470"><a href={{ '/events/past-events/' | prepend: site.github.url }}>Past Events</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href={{ '/reports/' | prepend: site.github.url }}>Reports</a></li>
                    <li id="menu-item-181" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-181"><a href={{ '/contact-us/' | prepend: site.github.url }}>Contact Us</a></li>
                </ul>        
                </section>
            </section>
        </nav>