                <aside id="rightcol">
                    <section id="custom-recent-posts-2" class="widget widget_recent_entries">
                        <h4>Recent News</h4>
                        <ul>
{% assign sorted_pages = site.news | sort: "date" | reverse %}
{% for page in sorted_pages limit: 5%}
                            <li class="crpw-item">
                                <a href={{ page.url | prepend: site.github.url }} rel="bookmark" title="Permanent link" class="crpw-title">{{ page.title }}</a>
                                <span class="crpw-date">({{ page.date | date: '%B %d, %Y' }})</span>
                            </li>
{% endfor %}
                        </ul>
                    </section>
                    <section id="event_list_widget-2" class="widget widget_event_list_widget"><h4>Upcoming events</h4>
                        <div class="event-list">
                            <ul class="event-list-view">
{% assign sorted_pages = site.events | sort: "date" %}
{% assign counter = 0 %}
{% for page in sorted_pages %}
    {% capture now_unix %}{{ 'now' | date: '%s' }}{% endcapture %}
    {% capture event_time %}{{ page.date | date: '%s' }}{% endcapture %}
    {% if event_time > now_unix  %}
        {% assign counter = counter | plus: 1 %}
                                <li class="event 2016">
                                    <div class="event-date">
                                        <div class="start-date">
                                            <div class="event-weekday">{{ page.date | date: '%a' }}</div>
                                            <div class="event-day">{{ page.date | date: '%d' }}</div>
                                            <div class="event-month">{{ page.date | date: '%b' }}</div>
                                            <div class="event-year">{{ page.date | date: '%Y' }}</div>
                                        </div>
                                    </div>
                                    <div class="event-info single-day">
                                        <div class="event-title"><h3>{{ page.title }}</h3></div>
                                    </div>
                                </li>
    {% endif %}
    {% if counter == 5 %}
        {% break %}
    {% endif %}
{% endfor %}
{% if counter == 0 %}
    <p>No events are currently scheduled</p>
{% endif %}
                            </ul>
                        </div>
                        <div style="clear:both">
                            <a title="View all upcoming events" href="{{ '/events/event-calendar/' | prepend: site.github.url }}">View all upcoming events</a>
                        </div>
                    </section>
                </aside>