                <aside id="rightcol">
                    <section id="custom-recent-posts-2" class="widget widget_recent_entries">
                        <h4>Recent News</h4>
                        <ul>
                            <li class="crpw-item">
                                <a href={{ '/2016/04/drama-festival-report-now-in/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to Drama Festival Report now in!" class="crpw-title">Drama Festival Report now in!</a>
                                <span class="crpw-date">(April 20, 2016)</span>
                            </li>
                            <li class="crpw-item">
                                <a href={{ '/2016/04/dance-festival-class-times-now-available/' | prepend: site.github.url }} rel="bookmark" title="Permanent link to Dance Festival class times now available" class="crpw-title">Dance Festival class times now available</a>
                                <span class="crpw-date">(April 7, 2016)</span>
                            </li>
                        </ul>
                    </section>
                    <section id="event_list_widget-2" class="widget widget_event_list_widget"><h4>Upcoming events</h4>
                        <div class="event-list">
                            <ul class="event-list-view">
                                <li class="event 2016">
                                    <div class="event-date">
                                        <div class="start-date">
                                            <div class="event-weekday">Tue</div>
                                            <div class="event-day">17</div>
                                            <div class="event-month">May</div>
                                            <div class="event-year">2016</div>
                                        </div>
                                    </div>
                                    <div class="event-info single-day">
                                        <div class="event-title"><h3>Future Event</h3></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div style="clear:both">
                            <a title="View all upcoming events" href="{{ '/events/event-calendar/' | prepend: site.github.url }}">View all upcoming events</a>
                        </div>
                    </section>
                </aside>